[data-with-previeweet] {
	min-height: 77px !important;
}

[data-with-previeweet] .stream-item-header ul.actions,
[data-with-previeweet] .stream-item-header small.time {
	right: 82px;
}

[data-with-previeweet] .js-tweet-text,
[data-with-previeweet] .stream-item-footer {
	margin-right: 82px;
}

[data-with-previeweet] .previeweet {
	width: 70px;
	max-height: 70px;
	overflow: hidden;

	position: absolute;
	top: 12px;
	right: 12px;

	text-align: center;
}
[data-with-previeweet] .previeweet img {
	max-width: 100%;
	vertical-align: top;
}

[data-with-previeweet] .previeweet iframe {
	border: 0;
	overflow: hidden;
	background: transparent;
}

[data-with-previeweet] .previeweet a[href^="//twitter.com"] {
	display: block;
	width: 16px;
	height: 16px;

	position: absolute;
	right: 2px;
	bottom: 2px;
}

[data-with-previeweet] .previeweet a[href^="//twitter.com"] img {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

	-webkit-border-radius: 2px;
			border-radius: 2px;

	background: #fff;
	background: rgba(255, 255, 255, 0.9);
}

[data-with-previeweet] .previeweet a[href="//twitter.com/youtube"] img,
[data-with-previeweet] .previeweet a[href="//twitter.com/dribbble"] img,
[data-with-previeweet] .previeweet a[href="//twitter.com/TwitPic"] img,
[data-with-previeweet] .previeweet a[href="//twitter.com/meetup"] img {
	-webkit-box-shadow: none;
			box-shadow: none;

	background: none;
}
