.previeweet { min-height:70px !important }
.previeweetDrbl { min-height:52px !important }
.previeweet .stream-item-header ul.actions, .previeweet .stream-item-header small.time { right: 90px }
.previeweet .js-tweet-text { margin-right:80px }
.previeweet .previeweetContainer { width:70px; height:70px; overflow:hidden; position:absolute; right:9px; top:9px; }
.previeweet .previeweetContainer { height:52px }
.previeweet .previeweetContainer img { max-width:100% }
